@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-5">
            <div class="row">
                <textbox></textbox>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <label></label>
                <select>
                    @for (int i = 0; i < gameController.HumanPlayer.Hand.Count(); i++)
                    {
                        <option></option>
                    }
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <label></label>
                <select>
                    @for (int i = 0; i < gameController.Opponents.Count(); i++)
                    {
                        <option>{ganeController.Opponent.Skip(i).First().Name}</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>

<SurveyPrompt Title="How is Blazor working for you?" />


@code
{
    List<string> computerPlayerNames;
    GameController gameController = new GameController("Player 1", computerPlayerNames);
}
