@page "/"

<PageTitle>HideAndSeek</PageTitle>


<div class="container">
    <br/>
    <div class="row">
        <div class="col-5">
            <div class="row">
                <label class="text-center">Game Status</label>
                <textarea rows="12">@Status</textarea>
            </div>
            <br/>
            <div class="row">
                <label class="text-center">Game Progress</label>
                <textarea rows="3">@gameController.GameProgress</textarea>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <div class="row">
                <div class="col-6 w-100">
                    <label class="text-center  w-100">Directions</label>
                    <select @bind="gameController.SelectedDirection" size="8" class="w-100 text-center">
                        @for (int i = 0; i < gameController.CurrentLocation.Exits.Count(); i++)
                        {
                            <option value="@gameController.CurrentLocation.Exits.ToList()[i].Key">
                                @gameController.CurrentLocation.Exits.ToList()[i].Key
                            </option>
                        }
                    </select>
                    <button class="btn btn-primary w-100 my-2" @onclick="Move">
                        Move
                    </button>
                    <button class="btn btn-info text-light w-100 my-2" @onclick="Check">
                        Check
                    </button>
                    <input class="text-center w-100 mt-2" type="text" placeholder="filename for Save" @bind=gameController.FileNameToBeSaved/>
                    <button class="btn btn-dark w-100 mb-2" @onclick="Save">
                        Save
                    </button>
                    <input class="text-center w-100 mt-2" type="text" placeholder="filename for Load" @bind=gameController.FileNameToBeLoaded/>
                    <button class="btn btn-secondary w-100 mb-2" @onclick="Load">
                        Load
                    </button>
                    <button class="btn btn-danger w-100 my-2" @onclick="NewGame">
                        Restart
                    </button>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

@code
{
    GameController gameController = new GameController();

    public string Status => !gameController.GameOver 
    ? gameController.ParsedOutput + Environment.NewLine + gameController.Status + Environment.NewLine + gameController.Prompt 
    : gameController.ParsedOutput + Environment.NewLine + gameController.Status;

    public void Move()
    {
        gameController.ParsedOutput = gameController.ParseInput(gameController.SelectedDirection.ToString());
        gameController.SelectedDirection = gameController.CurrentLocation.Exits.ToList()[0].Key;
    }
    public void Check()
    {
        gameController.ParsedOutput = gameController.ParseInput("check");
    }
    public void Save()
    {
        gameController.ParsedOutput = gameController.ParseInput($"save {gameController.FileNameToBeSaved}");
    }
    public void Load()
    {
        gameController.ParsedOutput = gameController.ParseInput($"load {gameController.FileNameToBeLoaded}");
    }
    public void NewGame()
    {
        gameController = new GameController();
    }
}
